# Miscellaneous
.DS_Store
*.swp
*.tmp
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Dart & Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
pubspec.lock
**/*.g.dart
**/*.freezed.dart
**/**/**/**/**/*.g.dart
**/**/**/**/**/*.freezed.dart

# iOS build artifacts
ios/Pods
ios/.symlinks
ios/build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# macOS build artifacts
macos/Pods
macos/.symlinks
macos/build/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Android build artifacts
android/.gradle/
android/app/build/
android/local.properties
android/*.keystore
android/key.properties
